.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

.spinner {
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  position: absolute;
  height: auto;
  object-fit: contain;
  user-select: none;
  -webkit-user-select: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
